.imageupload {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(236, 236, 236);
}

.imageupload_progress {
  width: 100%;
}

.imageupload_button {
  margin: 10px;
  height: 30px;
}
